<h1>Siga Fatec</h1>

<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h2 class="text-center">Cadastro de Aluno:</h2>
      <form [formGroup]="formGroupStudent">
        <div class="mb-3">
          <label for="matricula" class="form-label">Matrícula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            formControlName="id"
          />
          <div id="emailHelp" class="form-text">
            Essa informação é confidencial.
          </div>
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
          />
          <div id="emailHelp" class="form-text">
            Essa informação é confidencial.
          </div>
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="curso"
            formControlName="curso"
          />
        </div>
        <button type="submit" (click)="save()" class="btn btn-primary">Salvar</button>
      </form>

    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <th ># {{student.id}}</th>
                <td>{{student.nome}}</td>
                <td>{{student.curso}}</td>
                <td><button class="btn btn-warning ms-3">Alterar</button> <button (click)="remove(student)" class="btn btn-danger ms-3">Remover</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
  </div>
</div>
